parameters:
    paths:
        - app
    level: 0 # Lowest level of strictness
    ignoreErrors:
        - '#.*#' # Ignore all errors
    reportUnmatchedIgnoredErrors: false

    # Optionally, ignore files or errors if needed
    # ignoreErrors:
    #     - '#Some known error pattern#'
